.Button {
  font-size: 0.8rem;
  border-color: #455d6b23;
  color: #05191b;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 75px;
  background: #455d6b23;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  cursor: pointer;
}

.Button:hover {
  color: white;
  background: linear-gradient(315deg, #455d6b, #f0f0f0);
  border-radius: 16px;
  border-color: transparent;
  box-shadow: -4px -4px 8px #455d6b23, 4px 4px 8px #f6f6f6;
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
}

.Button:hover:active {
  color: black;
  background: linear-gradient(315deg, #455d6b, #f0f0f0);
  border-radius: 16px;
  border-color: transparent;
  box-shadow: -4px -4px 8px #455d6b23, 4px 4px 8px #f6f6f6;
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
}

.Button:active {
  background-color: black !important;
}

.Button:focus {
  background-color: #041925;
}

.Wide {
  padding: 10px 40px;
}
