.Container {
  min-height: 750px;
  background: rgba(203, 45, 62, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
  margin-bottom: 20px;
  padding-top: 5rem;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 10px;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.Badge:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
