.NavBar {
  background: #455d6b23;
  box-shadow: 0 20px 30px 20px #455d6b23;
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
}

.NavLink {
  color: #05191b;
  padding: 8px;
}

.NavLink:hover {
  color: #455d6b;
}

.Toggler {
  display: contents;
}

* {
  box-sizing: border-box;
}

i {
  font-size: 1.6rem;
  padding: 5px;
  vertical-align: middle;
}

.Active {
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

.Logo {
  height: 40px;
}
