.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.Badge {
  font-size: 1.2rem;
  margin: 0 0 10px 10px;
}

.Badge:hover {
  cursor: pointer;
  color: #3b4e51;
  background-color: #455d6b23;
}

.Container {
  background: rgba(203, 45, 62, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
  text-align: -webkit-center;
}

@media all and (max-width: 991px) {
  .Badge {
    font-size: 0.9rem;
  }
}
